@media (width<=600px) {
	.home-navbar {
		padding-left: 48px;
	}

	.home-cta-btn {
		padding: 8px 20px;
	}
	.home-hero {
		flex-direction: column;
		gap: 1px;
	}

	.home-hero img {
		order: 1;
	}

	.home-image1 {
		width: 100%;
	}

	.home-hero-text-container {
		order: 2;
		width: 100%;
	}

	.home-cta-btn2 {
		align-self: center;
		padding: 16px;
	}

	.home-heading-container {
		width: 100%;
	}

	.home-cards-container {
		flex-direction: column;
	}

	div[class*="home-feature-card"] {
		width: auto;
	}

	.home-feature-card {
		width: auto;
	}

	.home-image2,
	.home-image3,
	.home-image4 {
		width: 80%;
		min-height: 300px;
	}
	.home-text04,
	.home-text05,
	.home-text06,
	.home-text07 {
		font-size: 16px;
	}

	.home-features {
		height: auto;
	}

	.home-stats {
		grid-template-columns: 1fr;
		margin: auto;
	}
}
