.level-2-section {
	display: flex;
	background-color: rgba(173, 226, 223, 1);
}

.empty {
	flex: 0 1 15%;
}

.media {
	flex: 0 1 28%;

	border: 1px dashed rgba(0, 0, 0, 0.5);
}

.media img {
	display: block;
	width: 90%;
	height: auto;
}

.content {
	flex: 0 1 57%;
	padding: 7em 15em 4em 6em;
	justify-content: right;
}

.content h2 {
	font-weight: 600;
	padding-bottom: 0.5em;
}

.content dl {
	padding-bottom: 2em;
}

.content dt {
	padding: 1em 0 0.5em;
}

.content dd {
	padding-bottom: 1.5em;
}

.content a {
	color: #000;
	/* text-decoration: underline; */
}

.content a::after {
	display: block;
	content: "";
	height: 0.1em;
	width: 11em;
	border-radius: 0.15em;
	background-color: #000;
}

.content a:hover {
	color: rgba(0, 0, 0, 0.5);
}

.content i {
	color: #000;
	padding-left: 0.5em;
}
