@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

* {
	padding: 0;
	margin: 0;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font: 14px/1.5 "Open Sans", sans-serif;
}

body {
	font: inherit;
	max-width: 900px;
	margin: 0 auto;
}

.site {
	display: flex;
	border-radius: 1em;
	text-align: center;
	border: #000;
	box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
	margin-top: 10em;
}

.image-wrapper {
	flex: 0 1 50%;
}
.image-wrapper img {
	display: block;
	width: 100%;
	height: auto;
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 2em;
	padding: 4em 2em;
	background-color: rgba(246, 247, 248, 1);
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
}

button {
	padding: 0.5em 1em;
	background-color: rgba(206, 216, 218, 1);
	border-radius: 0.5em;
}
label {
	font-weight: bold;
}

.measures {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

#standart-btn {
	background-color: rgba(134, 216, 98, 1);
}

#calculate-btn {
	background-color: rgba(5, 162, 211, 1);
	border: none;
	border-radius: 2em;
	color: #fff;
	font-weight: bold;
}

.buttons-section {
	display: flex;
	justify-content: space-around;
}
.gender-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1em;
}

.gender-section label {
	flex-basis: 100%;
}

.gender-section #gender {
	width: 40%;
}
.gender-section #years {
	width: 30%;
}

.weight-section {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

#weight {
	width: 80%;
	align-self: center;
}

.height-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1em;
}

.height-section label {
	flex-basis: 100%;
}

.height-section #feet,
.height-section #inches {
	width: 45%;
}
