.section-education-forms {
	width: 72%;
	margin: 0 auto;
	padding: 5em 1.5em;
	text-align: left;
	display: flex;
	flex-direction: column;
}
.section-education-forms p {
	padding: 2em 0 3em;
}

table {
	border-collapse: collapse;
	border-radius: 0.5em;
}

tbody tr:nth-child(odd) {
	background-color: rgba(230, 230, 230, 1);
}
tbody tr:nth-child(even) {
	background-color: rgba(248, 248, 248, 1);
}

tbody td.description {
	width: 60%;
	padding: 0.7em;
}

tbody td.check {
	width: 20%;
	text-align: center;
	padding: 0.7em;
}
