html {
	font: 14px/1.5 "Arial", sans-serif;
}

body,
input,
textarea {
	font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font: inherit;
	padding-top: 1em;
}

h1 {
	font-size: 3.1em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 2em;
}
h4 {
	font-size: 1.6em;
}

h5 {
	font-size: 1.3em;
}

h6 {
	font-size: 1.1em;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}

i {
	color: #000;
}

button {
	padding: 1em 5em;
	border: 1px solid #000;
	background-color: #000;
	color: rgba(255, 255, 255, 1);
	border-radius: 0.5em;
	font-weight: bold;
}

dt {
	font-weight: bold;
}
