.sections-advertisments {
	background-color: #fff;
	display: flex;
	gap: 2em;
	padding: 4em 4em 2em;
}

.sections-advertisments .add {
	flex: 0 1 25%;
	text-align: center;
}

.sections-advertisments .add h2 {
	color: rgba(255, 124, 76, 1);
	font-weight: 800;
	padding-bottom: 1em;
}

.sections-advertisments > p {
	font-weight: 500;
}
.sections-advertisments .add p:last-child {
	font-size: 0.6rem;
}
